.middle {
	width: 100%;
	height: calc(100% - 42px);
	overflow: auto;
	position: relative;

	.hover {
		background-color: burlywood;
		transition: 0.2s;
	}

	.deleted {
		color: rgb(241, 85, 85);
	}

	.item {
		width: 100%;
		height: calc(100% / var(--item-length));
		justify-content: flex-start;
		display: flex;
		align-items: center;
		padding: 5px 10px 5px 10px;
		cursor: pointer;

		.title {
			width: calc(var(--item-width) + 30px);
			height: 100%;
			color: #666;
			justify-content: flex-end;
			display: flex;
			align-items: center;

			.time {
				width: var(--item-width);
				height: 100%;
				justify-content: flex-end;
				display: flex;
				align-items: center;
			}

			.favorite {
				width: 30px;
				height: 100%;
				justify-content: flex-end;
				display: flex;
				align-items: center;

				img {
					width: 16px;
					height: 16px;
					animation: opacityAnimation 1s;
				}
			}
		}

		.value {
			width: calc(100% - var(--item-width) - 30px);
			height: 100%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			font-weight: 500;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}
	}
}

.bottom {
	width: 100%;
	height: 42px;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	background-color: gainsboro;
	border-radius: 0 0 10px 10px;
	// cursor: move;
	.left {
		height: 42px;
		width: 50%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}

.rightMenu {
	width: 150px;
	height: calc(36px * 3);
	position: absolute;
	outline: none;

	.content {
		width: 100%;
		height: 100%;
		background-color: #f8f8f8;

		> div {
			background-color: #f8f8f8;
			.v-btn {
				width: 100%;
				// height: 100%;
				background-color: #f8f8f8;
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}
		}
	}
}

.preview {
	width: 100%;
	height: 200px;
	// background-color: rgba($color: #efefef, $alpha: 1);
	position: absolute;
	top: 0;
	animation: widthAnimation 0.2s ease-out;
}
